<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Week 6</title>
</head>
<body>
    <h1>Hello!</h1>
    <p>Favorite food: {{ @food }}</p>
    <p>Favorite color: {{ @color }}</p>

    <p>Celsius: {{ round(@temp-32) * (5.0/9.0)- 2 }} degrees</p>
    <p>Circumference is: {{ round((@radius * 2 * pi()), 2)}}</p>

    <!--<h3>My Favorite Fruits:</h3>
    <ul>
    <repeat group="{{ @fruits }}" value="{{ @fruit }}">
        <li>{{ @fruit }}</li>
    </repeat>
    </ul>-->


    <h4>Choose a color:</h4>
    <repeat group="{{ @colors }}" value="{{ @color }}">
        <label><input type="radio" name="color" value="{{ @color }}">{{ucfirst(@color)}}</label>
    </repeat>

    <h4>Cupcakes</h4>
    <repeat group="{{@cupcakes}}" key="{{@key}}" value="{{@cupcake}}">
        <label><input type="checkbox" name="flavors[]" value="{{@key}}">{{@cupcake}}</label>
    </repeat>

    <h3>Age</h3>
    <check if="{{ @number > 30 }}">
        <true><p>You are mature</p></true>
        <false><p>You are a spring chicken!</p></false>
    </check>



</body>
</html>